* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}
nav{
  animation-name: girişanimasyon;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: 500ms;
}
@keyframes girişanimasyon{
  0%{
    transform:translateX(-200px)
  }
  100%{
       transform:translateX(0px)
    }
}

section{
  animation-name: sectionanimasyon;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: 500ms;
}
@keyframes sectionanimasyon{
  0%{
    transform:translateY(-200px);
    opacity: 0.4;
  }
  100%{
       transform:translateY(0px);
       opacity: 1;
    }
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  text-align: center;
  padding: 20px;
  width: 300px;
  background-color: #2c49d8;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-right:  rgba(63, 86, 197, 0.3) 10px solid;

  h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bolder;
    letter-spacing: 5px;
    color: white;
    border-bottom: 1px solid white;
  }

  div {
    margin-top: auto;
    margin-bottom: auto;

    a {
      margin-left: 30px;
      margin-right: 30px;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      text-align: center;
      color: white;
      text-decoration: none;
      transition: all ease 600ms;
    }
    a:hover{
      font-size: 20px;
    }
  }
}

.GENEL {
  display: flex;
}
.Anasayfa-resimler {
  display: flex;
  flex-wrap: wrap;
  margin-left: 300px;
  img {
    width: 400px;
    height: 400px;
    margin-left: 200px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(117, 117, 117);
  }
}

section {
  h1 {
    margin-top: 40px;
    margin-left: 380px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    border-bottom: #2c49d8 5px solid; 
    width: 160px;
    color: #2c49d8;
  }
}

h1 {
  margin-top: 40px;
  margin-left: 380px;
  margin-bottom: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #2c49d8;
}

.hakkımızda {
  p {
    margin-left: 170px;
  }

  h1 {
    border-bottom: #2c49d8 5px solid;
    width: 200px;
  }

  div {
    text-align: justify;
    text-indent: 60px;
    line-height: 1.4;
    width: 1400px;
    font-size: 24px;
    border-radius: 10px;
    margin: auto;
    padding: 1;
  }
}

.section2{
  h1{
     border-bottom: #2c49d8 5px solid;
    width: 230px;
  }
}

.Hizmetlerimiz {
  margin-left: 300px;
  h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center;
  }

  display: flex;
  justify-content: center;
  text-align: center;

  img {
    width: 250px;
    height: 300px;
    border-radius: 15px;
    margin: 20px 100px 10px 100px;
    transition: 600ms ease all;
     box-shadow: 1px 1px 10px rgb(117, 117, 117);
  }

  img:hover {
    width: 300px;
    height: 350px;
  }
}
.section4{
  h1{
     border-bottom: #2c49d8 5px solid;
    width: 120px;
  }
}
.galeri{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
 gap: 5px;
  margin-left: 450px;
  margin-right: 200px;
  padding: 20px;
  position: relative;
  img{
    width: 200px;
    height: 200px;
    transition: all ease 400ms;
    z-index: 1;
    border-radius: 10px;
    
  }
}
 .galeri:hover img
  {
    opacity: 0.4;
  }
  .galeri img:hover{
    opacity: 1;
    z-index: 10;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
     position: relative;
    transform: scale(1.8);
  }
.section3{
  
  h1{
        border-bottom: #2c49d8 5px solid;
    width: 140px;
  }
  

}
.iletişim {
    margin-left: 400px;
  input {
    width: 1000px;
    margin-left: 160px;
    height: 40px;
    border-radius: 10px;
    border: solid 3px #2c49d8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:600;
    text-indent: 10px;
  }

  textarea {
    width: 600px;
    height: 240px;
    border-radius: 10px;
    border: solid 3px #2c49d8;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:600;
    text-indent: 10px;
    margin-left: 160px;
  }

  label {
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-left: 150px;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  button {
    background-color: #2c49d8;
    width: 1000px;
    height: 40px;
    border-radius: 10px;
    border: solid 3px #2c49d8;
    color: white;
    font-size: 24px;
    margin-left: 150px;
    transition: all ease 400ms;
  }
    button:hover{
      background-color: #1e308f;
      border: solid 3px #1e308f;
    }
}

